@tailwind base;
@tailwind components;
@tailwind utilities;
.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #263f49;
  transition: width 0.4s ease;
}

.group:hover .hover-underline::after {
  width: 100%;
}
